<form [formGroup]="pessoa">
    <input type="text" formControlName="name" placeholder="Nome" class="form-control">
    <input type="number" formControlName="age" placeholder="Idade" class="form-control">
    <input type="text" formControlName="city" placeholder="Cidade" class="form-control">

    @if (btnCadastrar) {
        <input type="button" (click)="cadastrar()" value="Cadastrar" class="btn btn-primary">
    }@else {
        <input type="button"  (click)="alterar()" value="Alterar" class="btn btn-primary">
        <input type="button" (click)="remover()" value="Remover" class="btn btn-primary">
        <input type="button" (click)="cancelar()" value="Cancelar" class="btn btn-primary">
    }
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        @for (v of vetor; track $index) {
            <tr>
                <td>{{v.name}}</td>
                <td>{{v.age}}</td>
                <td>{{v.city}}</td>
                <td>
                    <button class="btn btn-primary" (click)="selecionar($index)">Selecionar</button>
                </td>
            </tr>
        }
    </tbody>
</table>